.padding-3 {
    padding-left: 20px!important;
}

.padding-2 {
    padding-left: 10px !important;
}

.padding-4 {
    padding-left: 30px !important;
}

.padding-5 {
    padding-left: 40px !important;
}

.htag-content {
    max-width: 800px;
}
